@page "/Exercise"

@using Oceans.WebApplication.Data
@inject ExeriseService ExerciseService

<h3>Exercise</h3>

<label>The expected number is: @ExpectedNumberOfExpiredSubscriptions</label>
<label>The calculated number is: @NumberExpiredSubscriptions</label>
